* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-top: 200px;
}


.main {
  display: flex;
  /* flex-direction: column; */
  height: calc(100vh - 70px);
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

.side-bar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}

.video {
  margin-top: 10.6rem;
}

@media (max-width: 768px) {
  .side-bar {
      display: none;
  }
}